@charset "utf-8";
/* CSS Document */

	*{
		margin:0;
		padding:0;
		list-style:none;
		text-decoration:none;
		}
	.clearfix:after{ 
		content: ""; 
		clear: both; 
		display: block;
		}
	.box{
		width:100%;
		height:100%;
		background-color:#F2F2F2;
		margin-top:-30px;
		}
	.shang{
		width:100%;
		height:69px;
		margin:30px auto;
		background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/3.27/img/a.png) no-repeat 250px center #504F4F;
		
		}
		h3{
			color:#ffffff;
			margin-top:14px;
			margin-left:300px;
			float:left;
			}
		.p1{
			font-size:10px;
			color:#ffffff;
			margin-left:-110px;
			margin-top:40px;
			float:left;
			}
		.p7{
			color:#ffffff;
			margin-right:100px;
			font-size:14px;
			margin-top:10px;
			float:right;
			}
		.a1{
			color:#ffffff;
			}
		.a1:hover{
			color:#FF0;
			}
	.dao{
		margin-left:380px;
		}
		.a2{
			color:#000000;
			}
		.a2:hover{
			font-weight:bold;
			}
	.tu{
		width:966px;
		height:315px;
		margin-left:280px;
		margin-top:24px;
		padding-left:1px;
		border:1px solid #BABABA;
		}
	.zhong1{
		width:967px;
		height:286px;
		border:1px solid #000000;
		background-color:#FFFFFF;
		margin-left:280px;
		margin-top:24px;
		}
		.h41{
			color:#FC9919;
			margin-top:5px;
			margin-left:10px;
			float:left;
			}
		.p2{
			font-size:12px;
			margin-top:10px;
			margin-left:80px;
			}
		.img1{
			margin-top:10px;
			margin-left:10px;
			float:left;
			}
		.p3{
			width:436px;
			height:227px;
			font-size:14px;
			margin-left:25px;
			margin-top:5px;
			line-height:25px;
			float:left;
			}
			.span2{
			color:#FC9919;
			}
		.zhong11{
			width:275px;
			height:240px;
			border-left:1px solid #BEBDBD;
			margin-left:30px;
			float:left;
			}
			.h42{
				color:#FC9919;
				margin-left:30px;
				float:left;
				}
			.p4{
				font-size:14px;
				margin-top:4px;
				margin-left:105px;
				}
			ul{
				margin-left:30px;
				margin-top:10px;
				}
			li{
				line-height:25px;
				font-size:12px;
				}
			.p41{
				float:right;
				}
			.a3{
				margin-left:30px;
				margin-top:25px;
				color:#000000;
				font-size:12px;
				}
			.a3:hover{
				font-weight:bold;
				}
	.zhong2{
		width:967px;
		height:300px;
		border:1px solid #000000;
		background-color:#FFFFFF;
		margin-left:280px;
		margin-top:24px;
		}
			.p5{
				font-size:14px;
				margin-top:8px;
				margin-left:80px;
				}
			.img2{
				margin-top:12px;
				margin-left:10px;
				margin-right:18px;
				float:left;
			}
			.img21{
				margin-top:12px;
				margin-left:10px;
				margin-right:18px;
				float:left;
			}
	.xia{
		width:100%;
		height:135px;
		border-top:1px solid #A49D9D;
		margin:30px auto;
		}
			.p6{
				margin-top:10px;
				}
			.a4{
				font-size:12px;
				color:#000000;
				margin-left:300px;
				margin-top:10px;
				}
				.a41{
					font-size:12px;
					color:#000000;
					margin-top:10px;
					}
			.a4:hover{
				color:#F57211;
				text-decoration:underline;
				}
				.a41:hover{
					color:#F57211;
					text-decoration:underline;
				}
			.span3{
				font-size:12px;
				margin-right:8px;
				margin-left:8px;	
				}
			.p61{
				font-size:12px;
				margin-left:300px;	
				margin-top:10px;
				}
		